.b-header {
  width: 100%;
  position: fixed;
}

.b-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header__logo {
  @include svg-ico-logo;
}

.b-header__menu {
  display: flex;
}

.b-header__menu-item {
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
}

.b-header__menu-item--lang {
  width: 40px;
  height: 40px;
  border: solid 2px $leaf;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: $leaf;
  border-radius: 50%;
}