.b-line-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 0;

  .container {
    position: relative;
    max-width: calc(1300px - 20px*2);
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.b-line-pattern__line {
  width: 1px;
  height: 100%;
  background-color: $pale;
}

.b-line-pattern--image {
  position: absolute;
  z-index: 1;
}