.b-main-screen {
  width: 100%;
}

.b-main-screen__sign {
  display: flex;
  font-family: $Intro-Alt;
  font-size: 24px;
  line-height: 1;

  span {
    display: block;
    width: 138px;
    height: 36px;
    background-color: $leaf;
    color: $white;
    text-align: center;
  }
}

.b-main-screen__scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding-bottom: 30px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include svg-ico-arrow-down;
  }
}

.b-main-screen__share {
  position: absolute;
  bottom: 0;
  right: 0;
  @include svg-ico-share;
}
// mod

.b-main-screen--first {
  background-image: linear-gradient(124deg, $pale-grey 17%, $off-white 98%);
  height: 100vh;
}

.b-main-screen--about {

}

.b-main-screen--purpose {

}