@font-face {
  font-family: 'Intro Book Alt';
  src: url('./fonts/Intro-Book-Alt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Book';
  src: url('./fonts/Intro-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}