@mixin svg-common {
	background: url("../images/sprite/sprite-a5f61019.svg") no-repeat;
}

@mixin svg-ico-arrow-down {
	@include svg-common;
	background-position: 52.8% 75.60975609756098%;
	width: 21px;
	height: 28px;
}

@mixin svg-ico-logo {
	@include svg-common;
	background-position: 0 0;
	width: 146px;
	height: 62px;
}

@mixin svg-ico-right-quote {
	@include svg-common;
	background-position: 0 100%;
	width: 66px;
	height: 48px;
}

@mixin svg-ico-share {
	@include svg-common;
	background-position: 70.73170731707317% 73.80952380952381%;
	width: 23px;
	height: 26px;
}

