* {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: $black;
  margin-bottom: 30px;

  @include bp($bp-640) {
    margin-bottom: 20px;;
  }
}
