mixin field-input(title, placeholder, ...icons)
    .field
        .field__title
            h3= title
            -if(icons)
                .field__title-buttons
                    each icon in icons
                        a(href=`#popup-${icon}`).button-icon(class=`button-icon--${icon}`).js-show-popup

        .field__box
            input(type='text' placeholder=placeholder)

