@import 'malihu-custom-scrollbar';
@import 'mg/main';



.mCS-custom-scroll {
  & + .mCSB_scrollTools {
    top: 10px;
    bottom: 10px;
    right: 0;

    .mCSB_dragger {
      &:hover {
        background-color: transparent;
      }

      .mCSB_dragger_bar {
        border-radius: 3px;

      }
    }

    .mCSB_draggerRail {
      background-color: transparent;
    }
  }

  &.mCSB_scrollTools_horizontal {
    top: auto;
    left: 10px;
    right: 10px;
  }
}