include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,400&display=swap" rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="")
        link(rel='stylesheet' href="./css/style.css")

        block title
            title Заголовок по умолчанию
    body
        block content


    script(src="./js/bundle.js")

