extends _layout

block title
    title Главная страница
block content
    .page
        .b-line-pattern
            .container
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line

        .b-header
            .container
                .b-header__wrap
                    .b-header__logo
                    .b-header__menu
                        a(href='').b-header__menu-item О компании
                        a(href='').b-header__menu-item Продукция
                        a(href='').b-header__menu-item Сотрудники
                        a(href='').b-header__menu-item Новости
                        a(href='').b-header__menu-item Контакты
                        a(href='').b-header__menu-item.b-header__menu-item--lang En

        .b-main-screen.b-main-screen--first
            .salad.salad--lg
            .salad.salad--md
            .salad.salad--sm

            .pepper.pepper-1
            .pepper.pepper-2
            .pepper.pepper-3
            .pepper.pepper-4
            .pepper.pepper-5

            .b-main-screen__mask


            .b-main-screen__sign Ингредиенты как
                = ' '
                span искусство

            .b-main-screen__scroll Скролл вниз
            .b-main-screen__share

        .b-main-screen.b-main-screen--about
            .salad.salad--sm
            .pepper.pepper-2
            .leaves

            .b-main-screen__title
                h2 О компании
                p «ШЕФ технологии» - молодая и, вероятно, самая прогрессивная компания-новатор на рынке функциональных ингредиентов и специй для мясопереработки и производства молочных продуктов. Мы проповедуем философию уникальности во всём  – от ингредиентов, которые мы предлагаем рынку, до организации бизнес-процессов и позиционирования компании в отрасли.

            .b-main-screen__info
                .b-main-screen__info-img
                    img(src='./images/img-1.jpg' alt='')
                .b-main-screen__info-img
                    img(src='./images/img-2.jpg' alt='')
                .b-main-screen__info-quote
                    p Все мы обречены есть трижды в день до конца жизни.
                    p Так давайте выбирать то, что вкусно, питательно и доставляет удовольствие.
                    h3 Джейми Оливер

            .b-main-screen__control
                .button Подробнее о нас

        .b-main-screen.b-main-screen--purpose
            .pepper.pepper-1
            .pepper.pepper-3
            .pepper.pepper-4
            .salad.salad--md

            .b-main-screen__title
                h2 Наша цель
                p Стратегическая цель SHEF technology – изменить представления о технологиях в производстве продуктов питания, используя возможности и научные открытия прорывных мировых компаний.

            .b-main-screen__slider
                .b-main-screen__slider-item
                .b-main-screen__slider-item
                .b-main-screen__slider-item
                .b-main-screen__slider-item
                .b-main-screen__slider-item
























