body {
  font-family: $Lato;
  background-color: $white;
  color: $black;
}

.container {
  width: 100%;
  max-width: calc(1300px + 20px*2);
  padding: 0 20px;
  margin: 0 auto;
}

img {

  max-width: 100%;
  height: auto;
}